---
import Layout from "../layouts/Layout.astro";


---



	<head>
		<meta charset="UTF-8" />
        <title>404 P치gina no encontrada</title>
        <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />

	</head>
	<body class="bg-gray-100">
		<div class=" text-gray-500 mt-10 mb-10 block text-center items-center justify-center">
            <h1 class=" text-8xl text-black">404</h1>
            <p class="sm:text-4xl text-xl" >P치gina no encontrada</p>
            <p class="sm:text-4xl text-xl" >Lo sentimos, la p치gina que est치s buscando no existe.</p>
            <div class="flex items-center justify-center text-center mt-4">
                <img class="sm:size-80 max-w-full size-48 " src="https://i.imgur.com/lKJiT77.png" alt="">
            </div>
            <div class="mt-10">
                <a class=" sm:text-4xl text-white hover:text-white hover:bg-blue-400 bg-blue-600 p-4 rounded-lg " href="/">Volver a inicio</a>
            </div>
        </div>
	</body>
</html>


