---
import SectionContainer from "./SectionContainer.astro";


---

<SectionContainer class="">
    
  <h1 class="text-center text-4xl font-bold mt-4">Sobre Nosotros</h1>

  <article class="flex flex-col mx-4 md:mx-8 lg:mx-16 mt-4 mb-0 md:flex-row gap-8 justify-center items-center">
      <div class="order-2 md:order-1 max-w-md md:max-w-lg lg:max-w-2xl xl:max-w-3xl">
          <h2 class="text-xl md:text-2xl lg:text-3xl text-black text-opacity-90 font-bold mb-2">Misión</h2>
          <p class="text-sm md:text-base lg:text-lg text-black text-opacity-80 mb-4">
              Somos una institución Médica Privada orientada al diagnóstico y tratamiento de las enfermedades neoplásicas, formamos un grupo multidisciplinario de especialistas competentes en el campo de la cancerología y áreas afines, estamos comprometidos con la atención integral del paciente oncológico, con el fin de brindarle atención oportuna y tratamientos curativos así como cuidados paliativos, apoyo nutricional y terapias complementarias que ofrezcan al paciente una real calidad de vida. Priorizamos la recuperación de la salud, brindándole al paciente una esperanza de vida y cuidados dignos. Buscando re-insertarlo a la vida familiar, laboral y social.
          </p>
  
          <h2 class="text-xl md:text-2xl lg:text-3xl text-black text-opacity-90 font-bold mb-2">Visión</h2>
          <p class="text-sm md:text-base lg:text-lg text-black text-opacity-80 mb-4">
              Ser una Unidad de atención Oncológica de alta especialización en el estado de Jalisco y en el Occidente de la República Mexicana, que integre a un grupo de especialistas comprometidos con la prevención y recuperación de la salud de los pacientes con enfermedades neoplásicas, apoyados en protocolos de tratamiento respaldados por estándares de calidad nacional e internacional. Ofrecer un apoyo terapéutico integral, que le permita al paciente recuperar la salud perdida, elevando su calidad y esperanza de vida.
          </p>
  
          <h2 class="text-xl md:text-2xl lg:text-3xl text-black text-opacity-90 font-bold mb-2">Valores</h2>
          <p class="text-sm md:text-base lg:text-lg text-black text-opacity-80 mb-4">
              Privilegiamos los valores de una medicina con un acercamiento humano e integral, visualizando a nuestros pacientes no sólo como portadores de afecciones o enfermedades, sino como seres con sentimientos y emociones, el respeto por la verdad y el valor de la vida, así como la voluntad de aquellos pacientes que solicitan nuestra atención y consejo.
          </p>
          <div class="text-center mt-8 mb-6">  
            <a href="/instalaciones" class="bg-blue-500 text-white text-sm md:text-base lg:text-lg px-4 py-2 md:px-6 md:py-3 rounded-full hover:bg-blue-600 transition duration-300">Conoce Nuestras Instalaciones</a>
        </div>
        
      </div>
  </article>
  
</SectionContainer>