---
import Agendar from "./Agendar.astro";
import SectionContainer from "./SectionContainer.astro";
import Facebook from "./icons/Facebook.astro";
import Instagram from "./icons/Instagram.astro";
import Phone from "./icons/Phone.astro";


---

<SectionContainer class="mt-4  bg-white" >
    <h1 class="text-center text-4xl font-bold mb-8 pt-10">Cont치ctanos</h1>
    <div class="flex flex-col md:flex-row items-center justify-center">
    <div class="mb-6 md:mr-6 text-center md:w-1/2 lg:max-w-2xl">
        <div class="block  p-8 ml-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100  transition duration-300 ease-in-out ">
        <div class="mb-4">
            <h2 class="mb-2 text-4xl font-bold tracking-tight text-gray-900 ">Agenda tu cita</h2>
            <h2 class="mb-2 text-md font-light tracking-tight text-gray-900 ">Centro Integral Oncol칩gico Los Angeles</h2>
            <h2 class="text-2xl font-normal text-gray-700 ">No dejes pasar m치s tiempo, la prevenci칩n es la clave.</h2>
        </div>
        
        <div class="flex flex-col justify-evenly m-4  items-center">
            <Agendar/>
            <div class="flex items-center m-4 md:gap-8 md:mr-6">
                <a href="#" class="flex  font-normal hover:underline text-gray-700 " target="_blank"><Facebook />Facebook</a>
                    
                <a href="https://www.instagram.com/centro_oncologicolosangeles/" target="_blank" class="flex  font-normal hover:underline text-gray-700 "><Instagram />Instagram</a>
                </div>
                <img class="size-40"  src="https://res.cloudinary.com/dhv3vam1r/image/upload/v1710430305/GOP/ckhieniw9znvn2toesld.webp" alt="lovepng"/>
            </div>
        </div>
    </div>
    <div class="sm:w-[320px] md:w-1/2 m-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.150404575619!2d-103.34879258783646!3d20.66345910014286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b21d24f16c7d%3A0xbf80445e16184adc!2sCentro%20Integral%20Oncol%C3%B3gico%20%22Los%20%C3%81ngeles%22!5e0!3m2!1sen!2smx!4v1706818021827!5m2!1sen!2smx"  width="100%" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>   
    </div>
    
</div>
</SectionContainer>