



<div class="p-6 text-center mt-6">
    <h2 class="text-xl md:text-xl lg:text-2xl xl:text-4xl">Con un legado de <strong>más de 100 años de tradición</strong>, nuestro grupo oncológico se destaca por el enfoque humano en cada tratamiento y la más alta calidad médica.</h2>
  
    <h3 class="text-sm md:text-md lg:text-xl xl:text-2xl mt-6 italic">"La medicina, para ser eficaz, debe alcanzar al paciente en su corazón y en su alma, tan bien como en su cuerpo."</h3>
  
    <div class="text-center italic text-sm md:text-md lg:text-xl xl:text-2xl"><strong> -Thomas Sydenham</strong></div>  
  </div>
  