---
import Facebook from '../components/icons/Facebook.astro'
import Instagram from '../components/icons/Instagram.astro'
import Phone from './icons/Phone.astro'
---

<footer transition:animate="none" class="bg-white ">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="https://res.cloudinary.com/dhv3vam1r/image/upload/v1715717932/GOP/oj2cmbfnccgvigaefoww.webp"  class="h-auto w-44" alt="GrupoOncologicoLosAngeles">
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase ">Direccion</h2>
                  <ul class="text-gray-500  font-medium">
                      <li class="mb-4">
                          <a href="https://g.co/kgs/wYLCcvY" target="_blank" class="hover:underline">Guadalajara Jalisco <br>C. Los Angeles 86</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase ">Agenda tu cita</h2>
                  <ul class="text-gray-500  font-medium">
                      <li class="mb-4">
                          <a href="tel:3336194810" class="hover:underline ">33 3619 4810</a>
                      </li>
                  </ul>
              </div>
             
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto  lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center ">© 2024 <a href="https://centrooncologicolosangeles.com/" class="hover:underline">Centro Integral Oncologico Los Angeles</a>. Todos los derechos reservados
          </span>
          <div class="flex  sm:justify-center ">
              <a href="https://www.facebook.com/profile.php?id=61556547560649" target="_blank" class="text-gray-500 hover:text-gray-900 ">
                  <Facebook/>
                  <span class="sr-only">Facebook page</span>
              </a>
              <a href="https://www.instagram.com/centro_oncologicolosangeles/" target="_blank" class="text-gray-500 hover:text-gray-900 ms-5">
                  <Instagram/>
                  <span class="sr-only">Instagram page</span>
              </a>
              <a href="tel:3336194810" class="text-gray-500 hover:text-gray-900 ms-5">
                  <Phone/>
                  <span class="sr-only">Número Telefono</span>
              </a>
              
          </div>
      </div>
    </div>
</footer>
