---
import Agendar from '../components/Agendar.astro'
import Phone from './icons/Phone.astro'
import Home from './icons/Home.astro'
import Services from './icons/Services.astro'
import Health from './icons/Health.astro'
import Contact from './icons/Contact.astro'
import About from './icons/About.astro'

const navItems = [
    {
        title:'Inicio',
        lable:'inicio',
        url:'/',
        icon: Home
    },
    {
        title: "Servicios",
        label: "servicios",
        url: "/#servicios",
        icon: Services

    },
    {
        title: "Especialistas",
        label: "especialistas",
        url: "/especialistaspage",
        icon: Health

     },
    {
        title: "Cont치ctanos",
        label: "contactanos",
        url: "/#contactanos",
        icon: Contact

     },
     {
        title: "Nosotros",
        label: "nosotros",
        url: "/#nosotros",
        icon: About

    },
     {
        title: "Agenda tu cita",
        label: "agendar cita",
        url: "tel:3336194810",
        icon: Phone

    },
]
---

<nav transition:animate="none" class="font-times sticky w-full z-20 top-0 start-0 border-b border-gray-200  bg-white ">
    <div class="w-full flex  items-center justify-between mx-auto p-4 flex-wrap lg:flex-nowrap">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="https://res.cloudinary.com/dhv3vam1r/image/upload/v1715717932/GOP/oj2cmbfnccgvigaefoww.webp" class="h-auto w-44" alt="GrupoOncologicoLosAngeles">
      </a>
    <div class="flex lg:order-2 space-x-3  lg:space-x-0 rtl:space-x-reverse">
        <button 
        id="menu-button"
        data-collapse-toggle="navbar-sticky" 
        type="button" 
        class="inline-flex items-center p-2 size-12 mt-2 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 " aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
    <div
        id="menu-open"
        class="items-center  justify-between hidden w-full lg:flex lg:w-auto lg:order-1"
        id="navbar-sticky"
      >
      <ul class="flex flex-col p-4 lg:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0 md:bg-white ">
        {
          navItems.map((link, index) => (
            <li class="mb-1 text-md xl:text-xl md:text-lg sm:text-sm lg:text-lg transform hover:scale-105 transition-transform duration-300">
              <div class="flex items-center text-lg ml-1 text-center h-12">
                <a
                  class={`lg:text-md xl:text-2xl text-md m-2 text-gray-900 rounded hover:bg-gray-200 md:hover:bg-transparent md:hover:text-blue-700 md:p-0  `}
                  href={link.url}
                >
                  <div class="flex items-center">
                    <link.icon class="lg:size-6 size-5 mr-2" />
                    <span>{link.title}</span>
                  </div>
                </a>
              </div>
            </li>
          ))
        }
      </ul>
      
      </div>
      
    </div>
    <div class="text-center items-center text-md bg-gray-100">
      <span class=" italic">"M치s de 50 a침os de tradici칩n"</span>
    </div>
    
  </nav>


  <script>
    const button = document.querySelector('#menu-button') as Element
    const menuOpen = document.querySelector('#menu-open') as Element

    button.addEventListener("click", () =>{
        menuOpen.classList.toggle("hidden")
    })
  </script>