---
import GetCare from "./GetCare.astro";
import SectionContainer from "./SectionContainer.astro";


---
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const rotatingText = document.getElementById('rotating-text');
      const texts = ["'Ese Granito'", "'Esa Manchita'", "'Esa Bolita'","'Ese Lunar'"];
      let index = 0;

      function rotateText() {
        if (rotatingText) {
          rotatingText.classList.remove('opacity-100');
          setTimeout(() => {
            rotatingText.textContent = texts[index];
            rotatingText.classList.add('opacity-100');
          }, 250); // Ajusta el tiempo según tus preferencias
          index = (index + 1) % texts.length;
        }
      }

      // Cambio inicial de texto
      rotateText();

      // Iniciar el intervalo después del cambio inicial
      setInterval(rotateText, 2000); // Cambia cada 2 segundos (ajusta el tiempo según tus preferencias)
    });
  </script>

<div class="relative" transition:persist>
    <div class="absolute inset-0 bg-black/60 p-5 flex flex-col justify-center  text-white">
        <div class="text-center">
            <div class="mt-5 mb-10 items-center justify-center" transition:persist>
                <div class="text-center">
                  <h1 class="text-5xl text-white-700 font-bold mb-4">Aclara tus dudas sobre:</h1>
                  <span id="rotating-text" class="text-4xl opacity-0  font-semibold transition-opacity duration-500 ease-in-out block text-green-200"></span>
                </div>
              </div>
        <a href="#contactanos" class="bg-white text-blue-500 px-6 py-2 mt-8 mb-5 rounded-full hover:bg-blue-500 hover:text-white transition duration-300">Contactanos</a>
        </div>
    </div>
    <img src="https://res.cloudinary.com/dhv3vam1r/image/upload/v1710429431/GOP/gxhq7ugjcrhpdjzqxgnp.webp" alt="Hero Banner" class="w-full h-[650px] object-cover rounded-lg shadow-lg"/>
</div>


