

<div class="bg-white">
<h1 class="text-center text-4xl font-bold p-4">Testimonios</h1>
<div class="grid mb-8 border border-t-0 border-gray-200 rounded-lg shadow-sm  md:mb-12 md:grid-cols-2 bg-white ">
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e  ">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
            <h3 class="text-2xl font-semibold text-gray-900 ">Excelente Atencion y calidad humana</h3>
            <p class="my-4 text-lg">Las consultas con el Dr. Emmanuel son muy completas resuelve todas mis dudas</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
            <div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
                <div class="text-lg">Bonnie Green</div>
                <div class="text-sm text-gray-500  ">Sobreviviente Cancer de Mama</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e  ">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
            <h3 class="text-2xl font-semibold text-gray-900 ">Excelente Atencion y calidad humana</h3>
            <p class="my-4 text-lg">Las consultas con el Dr. Emmanuel son muy completas resuelve todas mis dudas</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
            <div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
                <div class="text-lg">Bonnie Green</div>
                <div class="text-sm text-gray-500  ">Sobreviviente Cancer de Mama</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e  ">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
            <h3 class="text-2xl font-semibold text-gray-900 ">Excelente Atencion y calidad humana</h3>
            <p class="my-4 text-lg">Las consultas con el Dr. Emmanuel son muy completas resuelve todas mis dudas</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
            <div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
                <div class="text-lg">Bonnie Green</div>
                <div class="text-sm text-gray-500  ">Sobreviviente Cancer de Mama</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e  ">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
            <h3 class="text-2xl font-semibold text-gray-900 ">Excelente Atencion y calidad humana</h3>
            <p class="my-4 text-lg">Las consultas con el Dr. Emmanuel son muy completas resuelve todas mis dudas</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
            <div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
                <div class="text-lg">Bonnie Green</div>
                <div class="text-sm text-gray-500  ">Sobreviviente Cancer de Mama</div>
            </div>
        </figcaption>    
    </figure>
    <!-- <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-se-lg  ">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
            <h3 class="text-lg font-semibold text-gray-900 ">Equipo Multidisciplinario</h3>
            <p class="my-4">Me encanta que cuenten con un equipo multidisciplinario para el manejo integral de tu padecimiento</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png" alt="profile picture">
            <div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
                <div>Roberta Casas</div>
                <div class="text-sm text-gray-500 ">Paciente</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-b-0 md:border-e  ">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
            <h3 class="text-lg font-semibold text-gray-900 ">Mindblowing workflow</h3>
            <p class="my-4">Aesthetically, the well designed components are beautiful and will undoubtedly level up your next application."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="profile picture">
            <div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
                <div>Jese Leos</div>
                <div class="text-sm text-gray-500 ">Software Engineer at Facebook</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-gray-200 rounded-b-lg md:rounded-se-lg  ">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
            <h3 class="text-lg font-semibold text-gray-900 ">Efficient Collaborating</h3>
            <p class="my-4">You have many examples that can be used to create a fast prototype for your team."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png" alt="profile picture">
            <div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
                <div>Joseph McFall</div>
                <div class="text-sm text-gray-500 ">CTO at Google</div>
            </div>
        </figcaption>    
    </figure> -->
</div>
</div>