

<div class="bg-white">
<h1 class="text-center text-4xl font-bold p-4">Testimonios</h1>
<div class="grid mb-8 border border-t-0 border-gray-200 rounded-lg shadow-sm  md:mb-12 md:grid-cols-2 bg-white ">
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e  ">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
            <h3 class="text-2xl font-semibold text-gray-900 ">Seguridad y tranquilidad</h3>
            <p class="my-4 text-lg">Desde el momento en que conocí al Dr. Emanuel, supe que estaba en buenas manos. Su enfoque tranquilizador y su capacidad para explicar los detalles más complejos de mi tratamiento han disipado mis temores y me han dado la fuerza para seguir adelante con optimismo.</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full size-12" src="https://doodleipsum.com/700/avatar?i=4eb7231368706e403353b433848826c9" alt="profile picture">
            <div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
                <div class="text-lg">Noelia Ramos</div>
                <div class="text-sm text-gray-500  ">Sobreviviente Cancer de Ovario</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e  ">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
            <h3 class="text-2xl font-semibold text-gray-900 ">Un médico que va más allá</h3>
            <p class="my-4 text-lg">El Dr. Emanuel no solo trata el cáncer, sino que también se preocupa por el bienestar integral de sus pacientes. Su enfoque holístico y su disposición para abordar todas mis preocupaciones y preguntas me han dado la confianza y la fortaleza necesarias para enfrentar mi diagnóstico con valentía y determinación</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full size-12" src="https://doodleipsum.com/700/avatar-3?i=0f4e665161be6920a24c76c7f76258a9" alt="profile picture">
            <div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
                <div class="text-lg">Elba Pelayo</div>
                <div class="text-sm text-gray-500  ">Sobreviviente Cancer de Mama</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e  ">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
            <h3 class="text-2xl font-semibold text-gray-900 ">Un verdadero aliado en la lucha contra el cáncer</h3>
            <p class="my-4 text-lg"> El Dr. Emanuel y su equipo no solo tratan el cáncer, sino que también brinda un apoyo integral que va más allá de la medicina. Su comprensión y aliento constantes han sido fundamentales para mí y mi familia durante este difícil viaje.</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full size-12" src="https://doodleipsum.com/700/avatar?i=2b444277d4888c7443a1d448e9537556" alt="profile picture">
            <div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
                <div class="text-lg">Balbina Ramírez</div>
                <div class="text-sm text-gray-500  ">Sobreviviente Cancer de Mama</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e  ">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
            <h3 class="text-2xl font-semibold text-gray-900 ">Un especialista excepcional</h3>
            <p class="my-4 text-lg">La dedicación y profesionalismo del Dr. Emanuel son evidentes en cada consulta. Su enfoque compasivo y detallado me brinda la confianza necesaria durante mi tratamiento.</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full size-12" src="https://doodleipsum.com/700/avatar?i=236f057bf1e40dc8090b96d71dbb4f65" alt="profile picture">
            <div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
                <div class="text-lg">Carlos Villa</div>
                <div class="text-sm text-gray-500  ">Sobreviviente Cancer de Colon</div>
            </div>
        </figcaption>    
    </figure>
    <!-- <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-se-lg  ">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
            <h3 class="text-lg font-semibold text-gray-900 ">Equipo Multidisciplinario</h3>
            <p class="my-4">Me encanta que cuenten con un equipo multidisciplinario para el manejo integral de tu padecimiento</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full size-12" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png" alt="profile picture">
            <div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
                <div>Roberta Casas</div>
                <div class="text-sm text-gray-500 ">Paciente</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-b-0 md:border-e  ">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
            <h3 class="text-lg font-semibold text-gray-900 ">Mindblowing workflow</h3>
            <p class="my-4">Aesthetically, the well designed components are beautiful and will undoubtedly level up your next application."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full size-12" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="profile picture">
            <div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
                <div>Jese Leos</div>
                <div class="text-sm text-gray-500 ">Software Engineer at Facebook</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-gray-200 rounded-b-lg md:rounded-se-lg  ">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
            <h3 class="text-lg font-semibold text-gray-900 ">Efficient Collaborating</h3>
            <p class="my-4">You have many examples that can be used to create a fast prototype for your team."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full size-12" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png" alt="profile picture">
            <div class="space-y-0.5 font-medium  text-left rtl:text-right ms-3">
                <div>Joseph McFall</div>
                <div class="text-sm text-gray-500 ">CTO at Google</div>
            </div>
        </figcaption>    
    </figure> -->
</div>
</div>